<div class="main">
    <div class="login-box">
        <input placeholder="Email o nº móvil" type="text" />
        <input placeholder="Password" type="password" />
        <button>
            <a routerLink="/sesion">Entrar</a>
        </button>
        <div class="remember-me">
            <input id="remember" type="checkbox" />
            <label for="remember">Recordarme</label>
        </div>
        <div class="links">
            <a routerLink="/forgot-password">Olvidé mi contraseña</a>
            <a routerLink="/activate-account">Activar cuenta</a>
        </div>
    </div>
</div>



