
  
  <div class="container">
    <h2>Registrar Administrador</h2>
    
    <form action="/submit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" required>
        </div>
        <div class="form-group">
            <label for="tipo_identificacion">Tipo de Identificación</label>
            <select class="form-control" id="tipo_identificacion" name="tipo_identificacion" required>
                <option value="cc">Cédula de Ciudadanía</option>
                <option value="ti">Tarjeta de Identidad</option>
                <option value="ce">Cédula de Extranjería</option>
                <option value="pasaporte">Pasaporte</option>
            </select>
        </div>
        <div class="form-group">
            <label for="numero_identificacion">Número de Identificación</label>
            <input type="text" class="form-control" id="numero_identificacion" name="numero_identificacion" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo Electrónico</label>
            <input type="email" class="form-control" id="correo" name="correo" required>
        </div>
        <div class="form-group">
            <label for="numero_celular">Número de Celular</label>
            <input type="tel" class="form-control" id="numero_celular" name="numero_celular" required>
        </div>
        <button type="submit" class="btn btn-info">Guardar</button>
    </form>
  </div>
  