.header {
    background-color: rgb(238, 238, 245);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.header img {
    height: 50px;
}

.header .nav {
    display: flex;
    align-items: center;
}
.header .nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.header .nav a i {
    margin-right: 5px;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo h1 {
    color: #0056b3;
    font-size: 24px;
    margin-left: 20px;
}

.header .logo h1 span {
    color: #ff6600;
}