.container {
    display: block; /* Asegúrate de que todo esté en bloque */
  }
  
  h2 {
    margin-bottom: 20px; /* Espacio entre el título y el formulario */
  }
  
  form {
    margin-top: 20px; /* Añadir espacio en la parte superior del formulario si es necesario */
  }
  