<!--<app-header></app-header>
<app-login></app-login>
<app-editar-instalacion></app-editar-instalacion>
<app-crear-administrador></app-crear-administrador>
-->

<h1>Bienvenido a victus Residencias</h1>
<nav>
  <div class="nav">
  <ul>
    <li>
        <a style="color: black;"  href="/entrar">Entrar</a>
    </li>
    <li>
      <a  style="color: black;" href="/editar-instalacion" >Crear Zona Común</a>
    </li>
    <li>
      <a style="color: black;"  href="/crear-administrador" >Crear Administrador</a>
    </li>
  </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Este es el lugar donde se cargará el componente según la ruta -->
<!--<router-outlet></router-outlet>

-->
<!-- #region 
<header>
  <section class="header">
    <div class="menu">
      <h2 class="logo">PostuMOT</h2>
      <nav class="headNav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Soport</a></li>
      </nav>
      <button class="btn-vacantes"><a href="#" class="btn">Vacantes</a></button>
    </div>
    <div class="infomenu">
      <div class="generalInf">
        <h1>Sistema de postulación para docentes</h1>
        <p>En el sistema podrás visualizar diferentes vacantes ofrecidas por multiples empresas y podras
          realizar la
          inscripción a la oferta a la cual deseas aplicar.</p>
        <button class="btn-register"><a href="#" class="btn">Regístrate</a></button>
      </div>
      <img src="assets/image.png" alt="Universidad">
    </div>
  </section>
</header>
-->
